<style>
div.center {
    margin-left: auto;
    margin-right: auto;
    width: 6em
}
    ln.s{
        font-size: 16pt;
    }
</style>
{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="{% static 'HNApp/style.css' %}" />

{% block content %}
<head>
    {% if user.is_authenticated %}
    <meta http-equiv="refresh" content="0; URL='/dashboard/'">
    {% else %}
    {% endif %}
    <div class="splash"></div>
        <center>
        <title>HealthNet</title>
        <h1>Welcome to HealthNet</h1>
        </center>
  </head>
<div class="center">
        <br>
        <ln class="s"><a class="btn btn-default align-center" href="{% url 'login' %}">Sign In</a></ln>
        <br><br>
        <ln class="s"><a class="btn btn-default align-center" href="{% url 'register' %}">Sign Up (Patient)</a></ln>
        <br><br>
        <ln class="s"><a class="btn btn-default align-center" href="{% url 'workerRegister' %}">Sign Up (Doctor/Nurse)</a></ln>

    </div>

{% endblock %}